@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   background: url(imagen.jpg);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}

.logo{
    width: 50px;
    height: 50px;
}
.contenedorLogo{
    width: 100%;
	margin: auto;
 
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}


/*---------Estilos del Header---------------*/
.header {
  height: 60px;
    background: #333;
}
.header .contenedorLogo {
  display: flex;
  justify-content: space-between;
}
.logo, .icon-menu {
  margin: 5px;
  color: #fff;
}
.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #999;
  color: #fff;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.5s;
   	z-index: 100;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
    height: 60px; 
}
.menu__link {
  display: block;
  padding: 15px;
 background: rgba(51,51,51,0.9);
  text-decoration: none;
  color: #fff; 
     height: 60px;
	border-bottom: 1px solid #999;
}
.menu__link:hover {
  background: white;
  color: #000;  
}
.muestrate{
 left: 0;
}

/*--------Estilos Responsive--------*/
@media(min-width:480px){
    .main img{
    max-width: 90%;
}
    .contenedorLogo .banner__titulo{
        font-size: 44px;
    }
    .contenedorLogo .banner__txt{
        font-size: 25px;   
    }
	.info__columna{
        width: 32%;
    }
     .info .contenedorLogo{
    display: flex;
		 justify-content: space-between;
		 
    }
    
    .platos .contenedorLogo{  
     display: flex; 
     flex-wrap: wrap;
     justify-content:space-around;
}
    .platos__columna{
        width:  40%;
    }
    .platos h3{
        font-size: 30px;
    }
}

@media(min-width:768px){
      .platos__columna{
        width: 24%; 
    } 
}

@media(min-width:1024px){
	.nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .icon-menu {
    display: none;
  }
	.menu__link{
		border: none;
	}
    .banner .contenedorLogo .banner__titulo{
        font-size: 50px;  
    }
     .banner .contenedorLogo .banner__txt{
        font-size: 36px; 
    }
    .contenedorLogo{
        width:1000px;
    }
   
}
@media(min-width:1280px){
    .contenedorLogo{
        width: 1200px;
    }
     .banner .contenedorLogo .banner__titulo{
        font-size: 90px; 
		
    }
     .banner .contenedorLogo .banner__txt{
        font-size: 46px; 
    }
	
	
}

  
 


























